html, body {
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5 {
    font-family: 'PT Sans', serif;
    margin-bottom: 0;
    font-weight: 700;

}

h5 {
  color: rgb(210,0,0);
}

p {
  margin-top: .75rem;
}

.container {
    max-width: 1400px;
}

section .container {
  padding: 6rem 2rem;
}

header {
    background: #333333;
    margin-top: 70px;
}

#image-gallery {
  text-align: center;
  background: linear-gradient(#efefef, #ffffff , #efefef);
}

.img-thumbnail {
  position: relative;
  margin: .5rem 0;
}

/*** Home Page ***/

#book-now {
  font-weight: 600;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
}

#book-now.btn.btn-info {
  /* border-radius: 20; */
  padding: 4px 24px;
  box-shadow: 2px 2px 6px #3333336e;
}


@media (min-width:576px) {
  
}

/*** Medium devices (tablets, 768px and up) ***/
@media (min-width: 768px) { 

}

/*** Large devices (desktops, 992px and up) ***/
@media (min-width: 992px) { 
  #image-gallery {
    text-align: left;
  }
}

/*** Extra large devices (large desktops, 1200px and up) ***/
@media (min-width: 1200px) { 

}