html, body {
  height: 100%;
  width: 100%;
  background: darkred;
}

.navbar-default {
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
}

.hr {
    border-top: 1px solid #8b8f91;
}

#page-header {
    padding: 10px 0;
    color: azure;
    background: #323844;
}

header {
    min-height: 400px;
}

footer {
    padding: "70px 0";
    color: #b7bdc0;
    font-size: "1.2em";
    background-color: #323844;
    padding: 25px 0;
}

/*** Home Content ***/
#home {
    background-image: url('../images/home-bg.jpg');
    background-repeat: no-repeat;
    margin-bottom: 40px;
}

#about-us {
    background: white;
    padding: 80px 0;
}

#home-gallery {
    background: #dddddd;
    padding: 40px 0;
}

#home-gallery .img-thumbnail{
    border-radius: 0;
    background-color: unset;
    border: none;
    padding: 0;
    box-shadow: 4px 4px 18px #333333;
}

#promo {
    padding: 40px 0;
}

#diving-with-us {
    min-height: 400px;
    padding: 40px;
    background: #dddddd;
}

#book-now {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
}

#book-now.btn.btn-primary {
    border-radius: 0;
}

/*** liveaboard Content ***/

#home {
    background-image: url('../images/liveaboard-bg.jpg');
    background-repeat: no-repeat;
    margin-bottom: 40px;
}



/*** liveaboard Content ***/

#liveaboard {
    background-image: url('../images/liveaboard-bg.jpg');
    background-repeat: no-repeat;
    margin-bottom: 40px;
}

#about {
    background: white;
    padding: 80px 0;
}

#liveaboard-gallery {
    padding: 80px 0 160px;
}




/*** Marsa Alam Content ***/
#marsa-alam {
    background-image: url('../images/marsa-alam-bg.jpg');
    background-repeat: no-repeat;
    margin-bottom: 40px;
}

#marsa-alam-map {
    min-height: 400px;
}

/*** Contact Content ***/
#contact {
    background-image: url('../images/contact-bg.jpg');
    background-repeat: no-repeat;
    margin-bottom: 40px;
}

#contact-info {
    background: white;
    padding: 80px 0 160px;

}

#contact-form {
    padding: 80px 0 160px 0;
    background-image: url('../images/contact-form-bg.jpg');
    background-repeat: no-repeat;
}

#contact-form h2 {
    color: azure;
}

/*** Bootstrap Override ***/
