/* @font-face {
    font-family: 'Roboto', sans-serif;
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Lato', sans-serif;
    src: url('../fonts/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('../resources/fonts/Open_Sans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'PT_Sans', sans-serif;
    src: url('assets/resources/fonts/PT_Sans/PT_Sans-Web-Regular.ttf');
}

@font-face {
    font-family: 'PT Serif', sans-serif;
    src: url('assets/resources/fonts/PT_Serif/PT_Serif-Web-Regular.ttf');
} */

/* 

font-family: 'PT Serif', serif;

font-family: 'PT Sans', sans-serif;

font-family: 'Roboto', sans-serif;

font-family: 'Lato', sans-serif;
 */


h1, h2, h3, h4, h5 {
    font-family: 'PT Sans', serif;
    margin-bottom: .75rem;
    font-weight: 700;

}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.navbar {
    background: white;
    
    font-size: 18px;
    font-weight: 600;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: .75rem;
    padding-right: .75rem;
}

.navbar-nav a {
    color: #333333;
}

.hr {
    border-top: 1px solid #8b8f91;
}

#page-header {
    padding: 10px 0;
    color: black;
    background: azure;
}

header {
    /* min-height: 400px; */
}

footer {
    padding: "70px 0";
    font-size: "1.2em";
    background-color: #323844;
    padding: 25px 0;
}

footer a {
    color: #b7bdc0;
}

footer a:hover {
    color: #566074;
    text-decoration: unset;
}

/*** Home Content ***/
#home {
    /* background-image: url('../images/home-bg.jpg');
    background-repeat: no-repeat; */
    /* margin-bottom: 20px; */
}

#header-text {
    position: absolute;
}

#about-us {
    text-align: center;
    background: white;
    padding: 6rem 0;
}

#about-us h5 {
    color: #dc0000;
    margin-bottom: 3rem; 
}

#home-gallery {
    background: #efefef;
    padding: 2rem 0;
}

#home-gallery .img-thumbnail{
    border-radius: 0;
    background-color: unset;
    border: none;
    padding: 0;
    margin-bottom: 1rem;
    box-shadow: 2px 2px 6px #3333336e;
}

#promo {
    min-height: 200px;
}

#diving-with-us {
    background-image: url('../images/diving-with-us.jpg');
    background-repeat: no-repeat;
    min-height: 400px;
    padding: 40px;
    color: azure;
}

#book-now {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
}

#book-now.btn.btn-primary {
    /* border-radius: 20; */
    box-shadow: 2px 2px 6px #3333336e;
}


/*** liveaboard Content ***/

#liveaboard {
    background-image: url('../images/liveaboard-bg.jpg');
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

#about {
    background: white;
    padding: 80px 0;
}

#liveaboard-gallery {
    padding: 80px 0 160px;
}




/*** Marsa Alam Content ***/
#marsa-alam {
    /* background-image: url('../images/marsa-alam-bg.jpg');
    background-repeat: no-repeat; */
    /* margin-bottom: 20px; */
}

#marsa-alam-map {
    min-height: 400px;
}

/*** Contact Content ***/
#contact {
    background-image: url('../images/contact-bg.jpg');
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

#contact-info {
    background: white;
    padding: 80px 0 160px;

}

#contact-form {
    padding: 80px 0 160px 0;
    background-image: url('../images/contact-form-bg.jpg');
    background-repeat: no-repeat;
}

#contact-form h2 {
    color: azure;
}

/*** Bootstrap Override ***/
